@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #EEE;
}

h1 {
  font-weight: 300;
  font-size: 36px;
  color: #275656;
  margin: 0 0 24px 0;
}

.footer {
  font-weight: 300;
  font-size: 11px;
  color: #999;
  text-align: center;
}
